{% extends 'post/base.html' %}

{% block title %} About Page {% endblock %}

{% block content %}

    <h1>{{ nomi }} haqida ma'lumot</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur fugiat hic illo, incidunt obcaecati sapiente veniam veritatis! A at delectus dicta iusto nobis nulla quo repudiandae similique voluptas. Adipisci, officia?</p>
    <img src="https://habrastorage.org/r/w1560/webt/2v/by/tw/2vbytwtkrzwrodjiax39s6leu5o.png" alt="django"><br>

{% endblock %}